release.properties
# excluding gitignore in sub folders
*/.gitignore
*.ipr
*.iws
# eclipse setting files
/.settings
*/.settings
.project
.classpath
maven-eclipse.xml
.springBeans
~/.dubbo/**

*.cache
*/*.iml
*/ca-api/ca-api.iml
# maven target folder
/target
*/target
target/

# idea
/.idea
*/.idea
*.iml
.DS_Store

#jrebel
rebel.xml
.pydevproject
*.eml
*/.eml
out/
/manage-web/src/main/resources/application-local.yml

logPath_IS_UNDEFINED/
logPath_IS_UNDEFINED/*

*.bak
crm-web/MATRIX_APPLOGS_DIR_IS_UNDEFINED/
/ca-api/MATRIX_APPLOGS_DIR_IS_UNDEFINED/
/ca-api/MATRIX_APPLOGS_DIR_IS_UNDEFINED/*

*MATRIX_APPLOGS_DIR_IS_UNDEFINED*

*MATRIX_LOGS_DIR*

~
~/*
.dubbo/
.dubbo/*

*.dubbo
.dubbo
*.lock

*.iml

.idea/
.idea
.idea/*

LOG_PATH_IS_UNDEFINED/
LOG_PATH_IS_UNDEFINED
/LOG_PATH_IS_UNDEFINED/*
*/LOG_PATH_IS_UNDEFINED/*
*/LOG_PATH_IS_UNDEFINED

FreeConfig/

build/
build/*